ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

ul li {
    float: left;
}

.Main {
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*font-size*/
.font-s {
    font-size: 0.7em;
    padding: 1px;
}

.font-m {
    font-size: 0.9em;
    padding: 1px;
}

.header {
    background-color: #000000;
    color: white;
    height: 40px;
}

.header p {
    padding: 10px;
    font-size: 0.8em;
}

.bannar img {
    width: 100%;
}

.sub-container {
    width: 90%;
    padding-top: 20px;
    margin-left: 5%;
    min-height: 300px;
    margin-bottom: 50px;
}

.item-area {
    float: left;
    margin: 10px;
    width: 20%;
}

.item {
    width: 50px;
    height: 70px;
}

.item img {
    margin: 1px;
    width: 70px;
}

.simple-tag {
    margin-top: 30px;
    margin-left: 10%;
    display: inline-block;
    width: 60%;

    color: cornflowerblue;
}

.content-text {
    width: 50%;
    float: left;
    margin-right: 10%;
}

.content-img {
    margin-top: 15px;
    width: 40%;
}

.career-area {
    margin-top: 30px;
    width: 100%;
}

.career-area p {
    margin-left: 20%;
}

.service-area {
    margin-top: 110px;
    width: 100%;
    flloat: left;

}

.content-area {
    margin-top: 110px;
    width: 100%;
    flloat: left;
}

.content-area img {
    margin: 0px 10px 10px 10px;
}

.content-area a {
    margin: 0px 10px 10px 10px;
}

.content-area li {
    margin: 0px 10px 10px 10px;
}

footer {
    width: 100%;
    height: auto;
    margin-top: auto;
    background-color: beige;
}

.footer-info {
    width: 35%;
    margin-top: 20px;
    margin-left: 10%;
    float: left
}

.footer-sns {
    width: 35%;
    margin-top: 20px;
    margin-left: 10%;
    float: left
}
